# Wally packages
/Packages
/ServerPackages
/DevPackages

# Rojo sourcemap
sourcemap.json

# Roblox place / model files
*.rbxl
*.rbxlx

# Roblox Studio lock files
*.rbxl.lock
*.rbxlx.lock

# Luau coverage / profiling
coverage.out
profile.out
profile.svg
trace.json
